
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #090b27;
}
h1,h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}
p{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    color: #cccccc;
}
button{
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    
    font-size: 1rem;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input{
    padding: 10px;
    margin: 20px auto;
    display: block;
    width: 80%;
    max-width: 400px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.subscribe{
    font-size: 3.2rem;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    font-weight: bold;
}