body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.toggle-switch {
    width: 200px;
    height: 80px;
    border-radius: 30px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    padding: 5px;
    margin-top: 5rem;
    box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px,
}

.switch{
    width: 80px;
    height: 70px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border: 0.3rem solid #e4dfdf;
    box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px, 
}

.on{
    background-color: #4caf50;
    transform: translateX(100px);
}
.off{
    background-color: #f44336;
    transform: translateX(0px);
}

.switch-state{
    margin: 0 10px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #5a5454;
    text-transform: uppercase;
}

span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}