.card-heading{
    font-size: 2.4rem;
    color: var(--h-color);
    font-weight: 700;
    margin-bottom: 2.4rem;
    text-decoration: underline;
}

  .card-btn{
    display: inline-block;
    padding: 1rem 1.4rem;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 1.8rem;
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
    .card-btn:hover{
        background-color: red;
        color: black;
    }